@model Presentacion.Response.Response_ComplejoEdit

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h1>Eliminar Complejo</h1>
    </div>
    <br />
    <div class="card-body">

        <form asp-action="Eliminar" asp-controller="Complejo" method="post">

            <input name="ID_Complejo" type="hidden" class="form-control" value="@Model.ID_Complejo">

            <div class="alert alert-danger" role="alert">
                ¿Esta seguro de eliminar el complejo "@Model.Nombre_Complejo"?
            </div>

            <button type="submit" class="btn btn-primary">Eliminar Complejo</button>
        </form>
        <button onclick="window.location.href = '@Url.Action("Listar", "Complejo")'" class="btn btn-danger">Salir</button>
    </div>
</div>

