@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sedes Deportivas</h1>
    <p class="lead">Descubre las mejores sedes deportivas del mundo y la historia detrás de los grandes trofeos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Historia del Deporte</h2>
        <p>
            Sumérgete en la emocionante historia del deporte, desde sus humildes comienzos hasta su crecimiento global.
        </p> 
        <img src="~/Content/Imagenes/olimpiadas.jpg"  alt="Historia del Deporte" width="300" height="200">
    </div>
    <div class="col-md-4">
        <h2>Trofeos Legendarios</h2>
        <p>Explora los trofeos más emblemáticos del mundo deportivo y conoce las historias detrás de su creación.</p>
         
        <img src="~/Content/Imagenes/trofeo.jpg" alt="Trofeos Deportivos" width="300" height="200">
    </div>
    <div class="col-md-4">
        <h2>Estadios Emblemáticos</h2>
        <p>Explora las sedes deportivas más icónicas del mundo y vive la emoción de los eventos deportivos en lugares legendarios.</p>

        <img src="~/Content/Imagenes/sede.jpg" alt="Sedes Deportivas" width="300" height="200"> 
    </div>
</div>